@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                              
}


body{
    background-image: url(/img/Blue\ Abstract\ Gradient\ Background\ Jamboard\ Background.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}


h1, h2, h3, h4, h5, h6{
    color: white;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:21px;
}


.navbar-btn{
    font-weight: 500;
    background: none;
    border: none;
    font-size: 17px;
    color: white;
}


.register-btn{
    background: none; 
    color: rgb(0, 0, 0); 
    font-size: 17px; 
    width: 121px; 
    height: 45px; 
    font-weight: 500; 
    border: none; 
    background-color: white; 
    border-radius: 21px; 
    padding: 7px;
}


.steps{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}


.first-step{
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 31px;
    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.1) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    width: 341px;
    height: 135px;
    display: flex;
    justify-content: space-evenly;
}


.second-step{
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 31px;
    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.1) 77%
    );
    width: 341px;
    height: 135px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.third-step{
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 31px;
    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.1) 77%
    );
    width: 341px;
    height: 135px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.card-number{
    color: white; 
    font-size: 110px; 
    font-weight: 800;
}


.main{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
}


.category{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    width: 1073px;
    margin-bottom: 41px;

    border: 0px solid rgba(100, 100, 100, 1);

    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.1) 77%
    );

    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.category-btn{
    color: white;
    width: 640px;
    height: 70px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 700;

    border: 0px solid rgba(100, 100, 100, 1);
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.1) 12%, rgba(255, 255, 255, 0.1) 77%);
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    transition: transform 0.3s;
}
.category-btn:hover{
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari 3-8 */
    transform: scale(1.055); 

}